.# Editor / OS
.DS_Store
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual environments
venv/
logbroker/venv/
.venv/

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
*.tfstate
*.tfstate.*

# Logs / local data
*.log
logbroker/*.log
/var/lib/logbroker/

